* {
    margin: 0;
    padding: 0;
    line-height:1;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    position: relative;
    background-image: linear-gradient(to right, darkorange, orange, darkorange);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    padding: 4em 0 0 0;

}

/*topnav*/
.topnav {
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 0.7em 0;
    border-bottom: 2px solid black;
}

#search-form {
    position: relative;
    float: right;
    margin-right: 1em;
    width: 350px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
}

#haku {
    position: absolute;
    top: 10px;
    left: 42px;
    font-size: 14px;
    background: none;
    color: #5a6674;
    width: 280px;
    height: 20px;
    border: none;
    appearance: none;
    outline: none;
}

#haku-btn {
    position: absolute;
    top: 10px;
    left: 15px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none!important;
    cursor: pointer;
}

#haku-btn svg {
    width: 20px;
    height: 20px;
}

.center-text {
    text-align: center;
    text-shadow: 0 0 10px black;
    text-transform: uppercase;
    font-size: 2em;
    color: black;
    padding: 1em 0;
    font-weight: lighter;
}

#items {
    padding: 0 0 4em 0;
}

.review {
    border: solid 2px #FFFFFF;
    box-shadow: 10px 10px 5px #454545;
    background-color: #E5E5E5;
    border-radius: 3em 0 3em 3em;
    margin: 2em;
    padding: 0 2em 2em 2em;
    position: relative;
    color: rgba(0, 0, 0, 0.85);
}

.review h3 {
    text-align: center;
    border-bottom: solid 2px black;
    padding: 1rem;
    margin: 0 0 1rem 0;
    font-size: 1.8em;
    font-weight: 500;
}

.review dt {
    font-weight: bold;
    margin: 0.5rem 0 0.5rem 0;
}

.review dd {
    border-bottom: solid 1px grey;
    padding: 0 0 0.5rem 0;
}

.open-button {
    z-index: 1;
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container select:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: red;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 23px; /* Place the button at the bottom of the page */
    left: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    font-size: 18px; /* Increase font size */
    background-color: #555;
    padding: 16px 20px;
    opacity: 0.8;
}

/*---Media Queries --*/
@media (max-width: 768px) {
    .review dd, dt  {
        text-align: center;
    }

    .open-button {
        z-index: 1;
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 200px;
    }
}

@media (max-width: 576px) {
    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 10px; /* Place the button at the bottom of the page */
        left: 10px; /* Place the button 30px from the right */
        z-index: 0; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 16px 20px;
        font-size: 18px; /* Increase font size */
    }
    .nav-text {
        font-size: 14px;
    }
}


